.places {
	padding-top: 40px;
}

.places h1 {
	font-size: 30px;
	margin: 0;
	padding: 0;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	text-align: center;
}

.places article h2 {
	font-size: 30px;
	margin: 0;
	padding: 0;
}
.places .wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.price_by_night {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 4px;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.information {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px 0;
}

.max_guest,
.number_rooms,
.number_bathrooms {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.max_guest img,
.number_rooms img,
.number_bathrooms img {
	width: 20px;
	height: 20px;
	margin-top: 5px;
}

.user {
	font-weight: bold;
	margin-top: 10px;
}

.description {
	margin-top: 10px;
	font-size: 14px;
}

.guest_image {
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 50px;
	background: url('../images/icon_group.png') no-repeat center;
}

.bed_image {
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 50px;
	background: url('../images/icon_bed.png') no-repeat center;
}

.bath_image {
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 50px;
	background: url('../images/icon_bath.png') no-repeat center;
}

.places .amenities p {
	padding-top: 5px;
}

.places .reviews {
	margin-top: 40px;
}

.places .reviews h2 {
	font-size: 16px;
	text-align: left;
	border-bottom: #dddddd 1px solid;
	padding-bottom: 12px;
}

.places .reviews h3 {
	font-size: 14px;
	margin-bottom: 0;
}

.places .reviews p {
	font-size: 12px;
	margin-top: 1px;
}

.places article ul {
	padding: 0;
	list-style-type: none;
}
